{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'assets/modalogin.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'assets/login.css' %}" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'assets/style.css' %}" /> -->

    <!-- Adjust path if necessary -->
    <!-- Other meta tags, scripts, and stylesheets -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .btn {
            position: relative;
        }
        .spinner-border {
            margin-left: 8px;
            width: 2rem;
            height: 2rem;
            border: 0.2em solid currentColor;
            border-right-color: transparent;
            border-radius: 50%;
            display: none;
            animation: spinner-border 0.75s linear infinite;
        }
        @keyframes spinner-border {
            to { transform: rotate(360deg); }
        }
    </style>

</head>

<body>
    <header class="header">
        <a class="header__logo" href="#">
            <img src="https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media/netflix.svg" alt="" />
        </a>

        <a class="sign__in__btn primary--btn" href="#"> Sign in </a>
    </header>

    <section class="banner__section">
        <img class="banner" src="https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media//banner.jpg"
            alt="" />
        <div class="banner__overlay"></div>

        <div class="banner__content">
            <h1 class="banner__title">Unlimited movies, TV shows, and more.</h1>
            <h2 class="banner__subtitle">Watch anywhere. Cancel anytime.</h2>

            <h3 class="form__cta">
                Ready to watch? 
                <button class="sign__up__btn primary--btn" type="submit">
                    Get started
                </button>
            </h3>
        </div>
    </section>


 <!-- SignIn Modal -->
 <div id="signinModal" class="signinmodal">
    <div class="signin-container">
        <h1>Login</h1>
        <div id="loginError">
            {% for message in messages %}
            <h1>{{message}}</h1>
            {% endfor %}
        </div>
        <form id="loginForm" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="input_username" placeholder="Username" />
            <input type="password" name="input_password" placeholder="Password" />
            <button type="submit" class="signin-btn">
                <span class="button-text">Login</span>
                <div class="spinner-border" role="status"></div>
            </button>
        </form>
        <div class="help-text" align="center">
            <h2>Unlimited movies, TV shows, and more.</h2>
        </div>
    </div>
</div>

<!-- SignUp Modal -->
<div id="signupModal" class="signupmodal">
    <div class="signup-container">
        <h1>Sign Up</h1>
        <div id="signupError">
            {% for message in messages %}
            <h1>{{message}}</h1>
            {% endfor %}
        </div>
        <form id="signupForm" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <input type="email" name="input_email" placeholder="Email address" required />
            <input type="text" name="input_username" placeholder="Username" required />
            <input type="password" name="input_password" placeholder="Password" required />
            <input type="password" name="input_password2" placeholder="Repeat Password" required />
            <button type="submit" class="signup-btn">
                <span class="button-text">Get Started ></span>
                <div class="spinner-border" role="status"></div>
            </button>
        </form>
        <div class="help-text" align="center">
            <h2>Unlimited movies, TV shows, and more.</h2>
        </div>
    </div>
</div>

    <hr class="section__divider" />

    <div class="story__card__container">
        <section class="story__card">
            <div class="story__card__left">
                <h1>Enjoy on your TV.</h1>

                <h2>
                    Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
                    players, and more.
                </h2>
            </div>

            <div class="story__card__right">
                <div class="tv__anime__container">
                    <img class="tv__img"
                        src="https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media/tv.png"
                        alt="" />

                    <video autoplay muted loop class="tv__anime"
                        src="https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media/tv_animation.m4v"></video>
                </div>
            </div>
        </section>

        <hr class="section__divider" />

        <section class="story__card">
            <div class="story__card__left">
                <h1>Download your shows to watch offline.</h1>

                <h2>Save your favorites easily and always have something to watch.</h2>
            </div>

            <div class="story__card__right">
                <div class="download__container">
                    <img src="https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media/mobile.jpg"
                        alt="" />

                    <div class="download__animation__container">
                        <img class="poster"
                            src="https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media/boxshot.png"
                            alt="" />

                        <div class="text__container">
                            <p class="title">Stranger Things</p>
                            <p class="downloading">Downloading...</p>
                        </div>

                        <img src="https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media/download-icon.gif"
                            class="download__gif" alt="" />
                    </div>
                </div>
            </div>
        </section>

        <hr class="section__divider" />

        <section class="story__card">
            <div class="story__card__left">
                <h1>Watch anywhere. Cancel anytime.</h1>
                <h2>
                    Stream unlimited movies and TV shows on your phone, tablet, laptop, and
                    TV.
                </h2>
            </div>
        </section>

        <hr class="section__divider" />

        <section class="story__card">
            <div class="story__card__left">
                <h1>Create profiles for kids.</h1>
                <h2>
                    Send kids on adventures with their favorite characters in a space made
                    just for them—free with your membership.
                </h2>
            </div>

            <div class="story__card__right">
                <img class="kids__image"
                    src="https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media/kids.png" alt="" />
            </div>
        </section>

        <hr class="section__divider" />
    </div>

    <section class="faq">
        <h2 class="faq__title">Frequently Asked Questions</h2>

        <ul class="accordion__list">
            <li class="accordion">
                <button class="accordion__question">
                    Consectetur ipsum error eaque ipsa?
                </button>

                <p class="accordion__answer">
                    Elit possimus error sunt aperiam quibusdam? Numquam similique quia eum.
                </p>
            </li>

            <li class="accordion">
                <button class="accordion__question">
                    Consectetur ipsum error eaque ipsa?
                </button>

                <p class="accordion__answer">
                    Elit possimus error sunt aperiam quibusdam? Numquam similique quia eum.
                </p>
            </li>
        </ul>
    </section>

    <hr class="section__divider" />

    <footer class="footer">
        <a class="footer__link contact--link" href="#"> Questions? Contact Us. </a>

        <div class="footer__link__container">
            <a class="footer__link" href="#">FAQ</a>
            <a class="footer__link" href="#">Help Center</a>
            <a class="footer__link" href="#">Media Center</a>
            <a class="footer__link" href="#">Ways to Watch</a>
            <a class="footer__link" href="#">Speed Test</a>
            <a class="footer__link" href="#">Investor Relations</a>
            <a class="footer__link" href="#">Terms of Use</a>
            <a class="footer__link" href="#">Corporate Information</a>
            <a class="footer__link" href="#">Legal Notices</a>
            <a class="footer__link" href="#">Account</a>
            <a class="footer__link" href="#">jobs</a>
            <a class="footer__link" href="#">privacy</a>
            <a class="footer__link" href="#">contact us</a>
            <a class="footer__link" href="#">only on netflix</a>
            <a class="footer__link" href="#">Cookie Preferences</a>
        </div>
    </footer>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const signInButton = document.querySelector('.sign__in__btn');
            const signUpButton = document.querySelector('.sign__up__btn');
            const signinModal = document.getElementById('signinModal');
            const signupModal = document.getElementById('signupModal');
            const loginForm = document.getElementById('loginForm');
            const signupForm = document.getElementById('signupForm');
            const loginError = document.getElementById('loginError');
            const signupError = document.getElementById('signupError');
            const loginButton = loginForm.querySelector('.signin-btn');
            const signupButton = signupForm.querySelector('.signup-btn');
    
            signInButton.addEventListener('click', (event) => {
                event.preventDefault();
                signinModal.style.display = 'block';
            });
    
            signUpButton.addEventListener('click', (event) => {
                event.preventDefault();
                signupModal.style.display = 'block';
            });
    
            window.addEventListener('click', (event) => {
                if (event.target === signinModal) {
                    signinModal.style.display = 'none';
                }
                if (event.target === signupModal) {
                    signupModal.style.display = 'none';
                }
            });
    
            window.addEventListener('keydown', (event) => {
                if (event.key === 'Escape' && signinModal.style.display === 'block') {
                    signinModal.style.display = 'none';
                }
                if (event.key === 'Escape' && signupModal.style.display === 'block') {
                    signupModal.style.display = 'none';
                }
            });

            const handleFormSubmit = async (form, button, errorElement, modal) => {
                event.preventDefault();
                const buttonText = button.querySelector('.button-text');
                const spinner = button.querySelector('.spinner-border');
                
                buttonText.style.display = 'none';
                spinner.style.display = 'inline-block';
                button.disabled = true;
    
                const formData = new FormData(form);
                try {
                    const response = await fetch(form.action, {
                        method: 'POST',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                        },
                        body: formData
                    });

                    const data = await response.json();

                    if (response.ok) {
                        if (data.success) {
                            window.location.href = '/';
                        } else {
                            errorElement.textContent = data.error_message;
                            modal.style.display = 'block';
                        }
                    } else {
                        errorElement.textContent = 'An error occurred. Please try again.';
                        modal.style.display = 'block';
                    }
                } catch (error) {
                    console.error('Error:', error);
                    errorElement.textContent = 'An error occurred. Please try again.';
                    modal.style.display = 'block';
                }

                buttonText.style.display = 'inline-block';
                spinner.style.display = 'none';
                button.disabled = false;
            };
    
            loginForm.addEventListener('submit', (event) => handleFormSubmit(loginForm, loginButton, loginError, signinModal));
            signupForm.addEventListener('submit', (event) => handleFormSubmit(signupForm, signupButton, signupError, signupModal));
        });
    </script>
    
</body>

</html>